body {
  background-color: darkcyan;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}



#root {
  text-align: center;
}